doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")

  body
    div(id='nav-bar')
        h2='[project name]'
        input#cb1.tgl.tgl-light(type = "checkbox")
        label.tgl-btn(for = "cb1")
    block content
