extends layout

block content
	div(id='content')
		h3= '[course name]'
		div(id='ytplayer')
		script.
			var vidId = "#{vidId}";
		script(src='javascripts/youtubeembed.js')
		div(id='timer')
		div(id='confusion-bar')
