body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#confusion-bar {
	display: flex;
	height: 20px;
}

.confusion-block {
	width: 5%;
	height: 100%;
	background-color: red;
	border: 2px black solid;
}
