body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: inline-block;
}

a {
  color: #00B7FF;
}

#confusion-bar {
	display: flex;
	height: 20px;
    background: #ddd;
    margin-top: 0.5rem;
    max-width: 640px;
}

.confusion-block {
	/*width: 5%;*/
	height: 100%;
	background-color: yellow;
	overflow: hidden;

}
